<html>
	<head>
		
		<title>Vacination App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<style>
			body {
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("https://i0.wp.com/cdn-prod.medicalnewstoday.com/content/images/articles/324/324619/mmr-vaccine.jpg?w=1155&h=1541");
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

			h1 {
				font-size: 60px;
				font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			}

			button .ui {
				background: linear-gradient(rgba(0,0,0,0.8));
			}
		</style>
	</head>
	<body>
		<div class="ui stackable inverted menu">
			<div class="item">
				<i class="stethoscope icon"></i>
			</div>
			<a class="item" href="/">HOME</a>
			<a class="item" href="/signup">SIGN UP</a>
			<a class="item" href="/login">SIGN IN</a>
		  </div>
		<div class="home" style="text-align: center; margin-top: 250px;">
			<h1>
                Vaccination Application !!!
			</h1>
			<button class="ui inverted green button"><a style="color: black;" href="/signup">New Registration</a></button>
			<button class="ui inverted teal button"><a style="color: black;" href="/login">Login Page for Medical</a></button>
			<button class="ui inverted yellow button"><a style="color: black;" href="/login/admin"> Login for Admin</a></button>		

        </div>
        
        
		

	</body>
</html>